body {
  background-color: maroon;
}

.unexplored {
  padding: 0;
  margin: 0;
  height: 35px;
  width: 35px;
  border: grey 2px;
}

.row {
  margin: 0;
  padding: 0;
}

.cell-container {
  margin: 0;
  padding: 0;
}

.adjacentMines0 {}
.adjacentMines1 {}
.adjacentMines2 {}
.adjacentMines3 {}
.adjacentMines4 {}
.adjacentMines5 {}
.adjacentMines6 {}
.adjacentMines7 {}
.adjacentMines8 {}
